/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 500px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  
}     
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 3px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  width: 50px;
  height: 50px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #2457F5;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}

/* GitHub */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linked {
  color: #ffffff;
  background-color: #2867b2;
}
.button.button-linked:hover,
.button.button-linked:focus {
  filter: brightness(90%);
}


/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}
.button.button-whatsapp:hover,
.button.button-whatsapp:focus {
  filter: brightness(90%);
}

/* X */
.button.button-x {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* YouTube */
.button.button-yt {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-yt:hover,
.button.button-yt:focus {
  filter: brightness(90%);
}


/* Telegram */
.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}
.button.button-telegram:hover,
.button.button-telegram:focus {
  filter: brightness(90%);
}
